/** @format */
@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import "./mixins.scss";

$text: #0d2d57;
$accent: #0042a3;
$highlight: #006eff;

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	color: $text;
}

body {
	padding: 1em;
}

img {
	height: 2em;
	width: auto;
	margin-right: auto;
}
.size {
	@include sm;
	@include md;
	@include lg;
	@include xl;
}
.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	background-color: white;
	top: 0;

	.main-nav__name {
		margin-left: 1500px;
	}
}
.main-box {
	display: flex;
	height: 85vh;
    box-sizing: border-box;

	.ticket-columns {
		flex-direction: column;
		width: 70%;
		padding: 3px;

		.ticket-columns__box {
			width: 95%;
			height: 20%;

			border-radius: 5px;
			box-shadow: 30px 30px 30px rgba($color: $highlight, $alpha: 0.05);
			padding: 1em;

			h4 {
				color:#006eff
			}
		}

	}
	.side-columns {
		flex-direction: column;
		width: 30%;

		.side-columns__box {
			width: 95%;
			height: 60%;

			border-radius: 5px;
			box-shadow: 30px 30px 30px rgba($color: $highlight, $alpha: 0.05);
			padding: 3em;
			
			h1 {
				color:#006eff
			}
		}
		.side-columns__box--empty {
			width: 100%;
			height: 40%;
		}
	}
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 5px;
	box-shadow: 30px 30px 30px rgba($color: $highlight, $alpha: 0.05);

	padding: 1em;

	width: 30vw;

	text-align: center;

	h1 {
		margin-bottom: 0.5em;
	}

	.login-btn {
		margin-top: 1em;

		background: $accent;
		color: white;
		border: none;
		padding: 0.5em;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		font-size: 1em;

		&:hover {
			background: darken($color: $accent, $amount: 10);
		}
	}
}
