/** @format */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./mixins.scss";

$text: #0d2d57;
$accent: #0042a3;
$highlight: #006eff;
$shadow: 30px 30px 30px
	rgba(
		$color: $highlight,
		$alpha: 0.1,
	);

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	color: $text;
}

body {
	padding: 1em;

	h1 {
		margin-bottom: 0.5em;
		font-weight: 800;
		color: $text;
	}
}

.size {
	@include sm;
	@include md;
	@include lg;
	@include xl;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	background-color: white;
	top: 0;

	.main-nav__logo {
		height: 2em;
		width: auto;
		margin-right: auto;
	}

	.main-nav__name {
		justify-content: right;
	}
}

.main-box {
	display: flex;
	box-sizing: border-box;

	.ticket-columns {
		flex-direction: column;
		width: 70%;
		padding: 3px;

		.ticket-columns__box {
			width: 100%;
			height: fit-content;

			border-radius: 5px;
			box-shadow: $shadow;
			padding: 2em;

			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:hover {
				background: darken($color: rgba(240, 239, 239, 0.546), $amount: 10);
			}

			.ticket-columns__box__id {
				display: block;
				color: $accent;
				font-size: 0.8em;
				font-weight: bold;
			}
			.ticket-columns__box__label {
				display: block;
				color: $text;
				font-size: 1.5em;
				font-weight: bold;
			}
			.ticket-columns__box__description {
				display: block;
				color: $text;
				font-weight: bold;
			}
			.ticket-columns__box__details {
				display: block;
				padding-top: 0.5em;
				color: #006eff;
				text-align: right;
				font-size: 0.8em;
			}
		}
	}

	.side-columns {
		flex-direction: column;
		width: 30%;

		.side-columns__box {
			width: 95%;
			height: 60%;

			border-radius: 5px;
			box-shadow: $shadow;
			padding: 3em;

			h1 {
				color: $highlight;
			}
		}

		.side-columns__box--empty {
			width: 100%;
			height: 40%;
		}
	}
}

.login-container {
	display: block;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 5px;
	box-shadow: $shadow;

	padding: 1.8em;

	width: 30vw;
	height: fit-content;

	text-align: center;

	.login-btn {
		display: block;

		margin-top: 2em;

		background: $accent;
		border: none;
		padding: 0.5em;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		color: white;
		text-decoration: none;

		/* Font Awesome Icon */
		i {
			margin-right: 1ch;
		}

		&:hover {
			background: darken($color: $accent, $amount: 10);
		}
	}
	.logout-btn {
		margin-top: 2em;

		background: $accent;
		border: none;
		padding: 1em;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		color: white;
		text-decoration: none;
		/* Font Awesome Icon */
		i {
			margin-right: 1ch;
		}

		&:hover {
			background: darken($color: $accent, $amount: 10);
		}
	}
}
.loader {
	display: block;

	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-30%, -50%);
}

.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.project {
		border-radius: 5px;
		box-shadow: $shadow;

		padding: 0.3em;

		width: fit-content;
		height: fit-content;
		text-align: center;

		cursor: pointer;
		transition: all 0.2s ease-in-out;
		&:hover {
			background: darken($color: rgba(240, 239, 239, 0.546), $amount: 10);
		}
	}
}
